VimL:" $Id$
VimL:" C++ namespace Template, Luc Hermitte
VimL:" hint: namespace ns { ... } // ns 
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL:"
VimL: let s:ns_join = lh#cpp#option#multiple_namespaces_on_same_line()
VimL: let s:namespace = lh#option#get('cpp_project_namespace', Marker_Txt('ns'))
VimL: let s:namespace = INPUT('Namespace name: ', s:namespace)
VimL: let s:namespaces = split(s:namespace, "::")
VimL: let s:ns_open = s:namespace =~ '^\s*$' ? ["namespace ".C_nl_before_curlyB()."{ // Anonymous namespace"] : map(copy(s:namespaces), '"namespace ".v:val.C_nl_before_curlyB()."{"')
VimL: let s:ns_close = s:namespace =~ '^\s*$' ? ["} // Anonymous namespace"] : map(copy(s:namespaces), '"}".(s:ns_join ? "" : " // ".v:val." namespace")')
VimL: let s:ns_join_s = s:ns_join ? " " : "\n"
<+join(s:ns_open, s:ns_join_s)+>
¡s:Surround(1, '<++>')¡
<+join(s:ns_close, s:ns_join_s)+><+s:ns_join ? (" // ".s:namespace . " namespaces") : ""+>
<++>
