VimL:" $Id$
VimL:" b-e File Template, Luc Hermitte, 30th Jun 2011
VimL:" hint: <+container+>.begin(), <+container+>.end()
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:container = empty(s:Args()) ? s:Surround(1, Marker_Txt('container')): (s:Args()[0])
<+s:container+>.begin(), <+s:container+>.end()<++>
VimL: unlet s:container
