VimL:" b-e File Template, Luc Hermitte, 30th Jun 2011
VimL:" hint: <+container+>.begin(), <+container+>.end()
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:Include('get-b-e', 'cpp/internals')
<+s:begin+>, <+s:end+><++>
