VimL:" $Id$
VimL:" {case:} File Template, Luc Hermitte, 05th Jan 2011
VimL: let s:value_start = '¡'
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
    case <+case+>:
{
    <+code1+>;
	break;
}
