VimL:" $Id$
VimL:"{catch(...){...}} Template-File, Luc Hermitte
VimL:" hint: catch(...){...}
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1 
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
catch¡C_nl_before_bracket()¡(<+...+>)¡C_nl_before_curlyB()¡{
    ¡s:Surround(1, '<+catch-code+>')¡
}<++>
