VimL:" C++ Class Template, Luc Hermitte
VimL:" hint: Simplistic class snippet -- unaware of semantics
VimL: let s:value_start = '¡'
VimL: let s:value_end   = '¡'
VimL: let s:reindent = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
MuT:  let s:parameters = s:Param('cls_parameters', {})
VimL: " --- in case the class name is already known, no need to extract it
VimL: call s:Include('get-class-name', 'cpp/internals')
VimL: " --- Defines Doxygen comments
MuT:  let s:cls_comments = lh#dict#add_new(s:parameters, {'comments': {}}).comments
MuT:  let s:cls_comments = s:parameters.comments
VimL: " --- Insert the skeleton built
VimL: call s:Include('class-skeleton', 'cpp/internals', s:parameters)
