VimL:" std::copy File Template, Luc Hermitte, 04th Nov 2015
VimL:" hint: std::copy(first, last, dest)
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<algorithm>")')
MuT:  let s:container = s:SurroundableParam('container', 1)
std::copy(<+s:container+>.begin(),<+s:container+>.end(), <+dest+>);
VimL: unlet s:container
