VimL:" enum2-impl File Template, Luc Hermitte, 23rd Apr 2014
VimL:" hint: enum2 code that goes into .cpp files
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: " let g:args = s:args
MuT:  let s:enum_name   = s:Param('name', lh#marker#txt(lh#dev#naming#type(expand('%:t:r'))))
MuT:  let s:scope       = s:Param('scope', '')
MuT:  let s:values      = map(s:Param('values', [lh#marker#txt('values')]), '"\"".v:val."\""')
MuT:  let s:lhs_        = lh#dev#naming#param("lhs")
MuT:  let s:rhs_        = lh#dev#naming#param("rhs")
MuT:  let s:value_      = lh#dev#naming#param("value")
MuT:  let s:m_value     = lh#dev#naming#member("value")
MuT:  let s:tmp         = lh#dev#naming#local("tmp")
MuT:  let s:range       = s:Param('range', lh#dev#naming#function("range"))
MuT:  let s:RangeType   = s:Param('RangeType', lh#dev#naming#type("range"))
MuT:  let s:iterable    = s:Param("iterable", 0)
MuT:  let s:to_string   = lh#dev#naming#function("to_string")
MuT:  let s:to_internal = lh#dev#naming#function("to_internal")
MuT:  let s:max         = lh#dev#naming#function("max")
MuT:  let s:type        = lh#dev#naming#type("type")
MuT:  let s:str_param   = lh#dev#naming#param("s")
MuT:  let s:k_strings   = lh#dev#naming#constant(s:enum_name.'_strings')
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<algorithm>")')
MuT:  let s:restore_options = lh#on#exit().restore_option('cpp_begin_end_style')
MuT:  if lh#cpp#use_cpp11()
VimL:   call s:AddPostExpandCallback('lh#dev#import#add("<type_traits>")')
VimL:   let b:cpp_begin_end_style = lh#option#get('cpp_begin_end_style', 'std')
MuT:  else
VimL:   let b:cpp_begin_end_style = lh#option#get('cpp_begin_end_style', 'boost')
MuT:  endif
VimL: call s:Include('get-b-e', 'cpp/internals', {'container': '::'.s:k_strings})

namespace  { // Anonymous namespace
    typedef char const* const* strings_iterator;
    static char const* const <+s:k_strings+>[] =
    { <+join(s:values, ', ')+> };
} // Anonymous namespace //  namespaces


<+s:scope+><+s:enum_name+>::<+s:enum_name+>(std::string const& <+s:str_param+>)
{
    strings_iterator const <+s:enum_name+>_it = std::find(<+s:begin+>,<+s:end+>, <+s:str_param+>);
    if (<+s:enum_name+>_it == <+s:end+>) {
VimL: call s:Include('throw', 'cpp', '"Cannot decode '.s:enum_name.' name `"+'.s:str_param.'+"`"')
    }
    <+s:m_value+> = <+s:type+>(std::distance(<+s:begin+>, <+s:enum_name+>_it));
    assert(<+s:m_value+> < MAX__);
}

VimL: call s:Include('array_size', 'cpp')

char const* <+s:scope+><+s:enum_name+>::<+s:to_string+>() const
{
VimL: call s:Include('static_assert', 'cpp', {'condition': 'MAX__ == '.lh#fmt#printf(s:_array_size,'::'.s:k_strings), 'message': '"Array size mismatches number of elements in enum"'})
    assert(<+s:m_value+> != UNDEFINED__); // Yes, I know UNDEFINED__ > MAX__
    assert(<+s:m_value+> < MAX__);
    return <+s:k_strings+>[<+s:m_value+>];
}
MuT:  if s:iterable && lh#cpp#use_cpp11()

/*static*/ <+s:scope+><+s:enum_name+>::<+s:RangeType+> <+s:scope+><+s:enum_name+>::<+s:range+>() { return <+s:RangeType+>(); }
MuT:  endif

VimL: silent! unlet s:values
VimL: call s:restore_options.finalize()
