VimL:" $Id$
VimL:" dox-file Template, Luc Hermitte
VimL:" hint: /** @file ... */
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL:"
/**@ingroup g¡lh#option#get('dox_group', '<+Projet+>')¡
 * @file    ¡expand('%:t')¡
 * ¡CppDox_author()¡
 * @version ¡'$'¡Revision$
 * @since   Version ¡lh#option#get('ProjectVersion', '<+1.0+>')¡
 * ¡'$'¡Id$
 */

