VimL:" file File Template, Luc Hermitte, 28th Apr 2014
VimL:" hint: i/ofstream
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<fstream>")')
std::<+i+>fstream f(¡s:Surround(1, '<+filename+>')¡);
