VimL:"{for size_t i=0, N= ; i!=N...} Template-File, Luc Hermitte
VimL:" hint: for (std::size_t i=0, N=...;i!=N;++i) { action }
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
for(<+std::size_t+> <+i+>=0, <+N+>=<+MAX+>; <+i+>!=<+N+> ; ++<+i+>){
    ¡s:Surround(1, '<+code+>')¡
}<+s:TerminalPlaceHolder()+>
