VimL:" $Id$
VimL:" {istringstream iss(str); iss >>..} File Template, Luc Hermitte, 06th Dec 2010
VimL:" hint: std::istringstream iss(str); if (iss >> ...) { ... }
VimL: let s:value_start = '¡'
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
std::istringstream iss(<++>);
if (iss >> <++>) {
    <++>
}<++>
