VimL:" list File Template, Luc Hermitte, 28th Apr 2014
VimL:" hint: std::list<>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<list>")')
std::list<¡s:Surround(1, '<+type+>')¡> <++>
