VimL:" map File Template, Luc Hermitte, 28th Apr 2014
VimL:" hint: std::map<>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<map>")')
std::map<¡s:Surround(1, '<+key+>')¡, ¡s:Surround(2, '<+value+>')¡> <++>
