VimL:" std::sort File Template, Luc Hermitte, 28th May 2015
VimL:" hint: std::sort(container(begin), end(container));
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 1
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<algorithm>")')
VimL: call s:Include('get-b-e', 'cpp/internals')
std::sort(<+s:begin+>, <+s:end+>);<+s:TerminalPlaceHolder()+>
