VimL:" span File Template, Luc Hermitte, 24th Jan 2024
VimL:" hint: std::span<>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<span>")')
MuT:  let s:type = s:SurroundableParam('type', 1)
std::span<<+s:type+>><+s:TerminalPlaceHolder()+>
