VimL:" starts_with File Template, Luc Hermitte <hermitte at free.fr>, 28th May 2014
VimL:" hint: boost::algorithm::starts_with
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<boost/algorithm/string/predicate.hpp>")')
boost::algorithm::starts_with(<+input+>, <+prefix_searched+>)
