VimL:" $Id$
VimL:" string File Template, Luc Hermitte, 28th Apr 2014
VimL:" hint: std::string<>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#cpp#include#add("<string>")')
std::string<++>
