VimL:" string File Template, Luc Hermitte, 28th Apr 2014
VimL:" hint: std::string
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<string>")')
std::string<+s:TerminalPlaceHolder()+>
