VimL:"{try{...}catch(){...}} Template-File, Luc Hermitte
VimL:" hint: try { ... } catch(...) { ... }
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
try{
    ¡s:Surround(1, '<+code+>')¡
}catch(<+std::exception const& e+>){
    ¡s:Surround(2, '<+catch-code+>')¡
} <+s:TerminalPlaceHolder()+>
