VimL:" tuple File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 24th Jan 2024
VimL:" hint: std::tuple<>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<tuple>")')
MuT:  let s:type = s:SurroundableParam('type', 1)
std::tuple<<+s:type+>><+s:TerminalPlaceHolder()+>
