VimL:" value-class File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 25th Nov 2015
VimL:" hint: Value Class ((implicitly) copyable, no hierarchy)
VimL:" TODO: support explicitly defaulted special functions
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:destructor = s:Param("destructor", {"visibility": "none"})
VimL: if get(s:destructor, "virtual", 0) | throw "Value classes aren't expected to belong to polymorphic hierarchies" | endif
VimL: call s:Include("class-skeleton", "cpp/internals")
