VimL:" assert File Template, Luc Hermitte, 24th Sep 2015
VimL:" hint: assert()
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: call s:AddPostExpandCallback('lh#dev#import#add(&ft == "cpp" ? "<cassert>" : "<assert.h>")')
assert(¡s:Surround(1, '<+assertion+>')¡);<+s:TerminalPlaceHolder()+>
